<ion-view view-title="Identificar paciente" class="text-center">
<style>
.item {
    border: down;
}
</style>	

  <ion-content class="padding" >   
      

    <br>
	<img ng-src="https://thumbs.dreamstime.com/z/dibujo-del-agua-color-de-la-mano-49103647.jpg" style="max-width: 50%; height:auto;">
	<br>
    <br>
    <button class="button button-block button-positive" ng-click="leerCodigo()">Escanear pulsera</button>       
    <br>
    <br>    
    <label class="item item-input">
        <span class="input-label">Introducir Nuhsa: </span>
        <input type="text" ng-model="caso.nuhsa">
    </label>    
  
  </ion-content>

   <ion-footer-bar>
        <button class="button button-assertive button-clear" ng-click="atras()">Atras</button>
           
        <button class="button button-positive button-clear" ng-click="siguiente()">Siguiente</button>
    </ion-footer-bar>

</ion-view>
